.super-mario {
  position: absolute;
  top: 50px;
  width: 200px;
}

.goomba {
  position: absolute;
  top: 350px;
  left: 50px;
  width: 100px;
}

.baloon {
  position: absolute;
  left: 250px;
  z-index: 2;
}

.bowser {
  position: absolute;
  top: 250px;
  left: 500px;
  width: 200px;
  z-index: 1;
}

p {
  position: absolute;
  top: 120px;
  left: 270px;
  font-size: 25px;
  z-index: 3;
}

.speech {
  font-size: 25px;
}