/* body {
  text-align: center;
  background-color: rgb(233, 230, 230);
}


form {
  background-color: rgb(197, 196, 196);
}

.travel-form {
  margin-left: 25%;
  margin-right: 25%;
  border: 3px solid black;
}

.secaoNomeEEmail {
  margin-bottom: 5px;
}

.secoes {
  padding: 10px;
}
/* 
textarea {
  resize: none;
  display: block;
} */ */